// 卡片样式
.custom-card {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: backdrop-filter 0.3s, transform 0.3s;
  animation: fadeAnimation 0.5s;
  width: 50%;
  &:hover {
    transform: scale(1.01);
  }
  &:active {
    transform: scale(0.98);
  }
  @media (max-width: 720px) {
    width: 80%;
  }
}

// 文字超出
.text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 隐藏元素
@media (min-width: 910px) and (max-width: 1200px) {
  .sm-hidden {
    display: none;
  }
}

// 滚动条样式
::-webkit-scrollbar,
scrollbar {
  width: 0;
  height: 0;
}
